/* <!-- Author: Akeem Hertenstein Class: CIS 130 Assignmen: Cheech's Pizza Parlor --> */
* {
    margin: 0%;
}

body {
    background-image: url(images/jakob-braun-LmGT_iY-ykc-unsplash.jpg);
    background-size: cover;


}

.headerimg {
    display: block;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;

}

.header-container {
    position: relative;
    text-align: center;
    margin: auto;
    color: blanchedalmond;

}

.headertitle1 {
    position: absolute;
    left: 25%;
    right: 5%;
    top: -250px;
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headertitle2 {
    position: absolute;
    left: 25%;
    right: 0%;
    top: -200px;
    color: tomato;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.site-nav {
    margin: 20px;
    margin-top: 0;
    background-color: tomato;
    border-radius: 0px 0px 25px 25px;
    padding: 1%;
    word-spacing: 2rem;

}

.site-nav nav ul li {

    display: inline;
    list-style: none;
}

.maincontent {
    display: flex;
    display: -webkit-flex;
    background-color: rgba(255, 235, 205, 0.634);
    padding: 3%;
    border-radius: 25px;

}

.maincontent>.left>article>h2 {
    color: tomato;
}

.maincontent>.right>article>h2 {
    color: tomato;
    font-size: 3rem;
}

section.left {
    color: blanchedalmond;
    box-sizing: border-box;
    background-color: rgba(48, 89, 48, 0.718);
    flex-basis: 25%;
    padding: 2%;
    border-radius: 50px 10em;
    font-size: 200%;
    word-spacing: 2px;
}

section.leftform {
    color: blanchedalmond;
    background-color: rgba(48, 89, 48, 0.718);
    flex-basis: 50%;
    padding: 2%;
    border-radius: 50px 10em;
    font-size: 200%;
    word-spacing: 2px;
}

textarea {
    border: solid 2px black;
    padding: 2%
}

section.right {
    text-align: center;
    margin-left: 2%;
    flex: 60%;
    flex-basis: 60%;
    background-color: rgba(40, 92, 144, 0.667);
    border-radius: 25px;
    /* background-color: rgba(0, 0, 255, 0.351); */
}

section.rightform {
    text-align: center;
    margin-left: 2%;
    flex: 60%;
    flex-basis: 60%;
    background-color: rgba(112, 128, 144, 0.667);
    border-radius: 25px;
}

.rightform p {
    display: block;
    font-size: 1.3rem;
    margin-top: 2%;
    padding: 2%;

}

.pizza>ul {

    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pizza>ul>li {
    background-color: ivory;
    margin: 5px;
    max-width: 300px;
    color: black;
    border-radius: 25px;
    padding: 10px;

}


.pizza>ul>li>img {
    display: flex;
    max-height: 300px;
    max-width: 500px;
    box-shadow: 2px 2px 10px;
    border-radius: 25px;
    margin: auto;

}

li {
    list-style: none;
}

.thanks {
    text-align: center;
    font-size: 3.5rem;
}

.thanks>img {
    margin: auto;
    display: block;
    width: 50%;
    transform: rotate(90deg);
}


footer {
    display: flex;
    display: -webkit-flex;
    background-color: coral;
    justify-content: space-evenly;
}

.fleft and .fright {
    box-sizing: border-box;
    padding: 2%;
    margin: auto;
}

@media screen and (max-width: 578px) {
    .maincontent {
        flex-direction: column;
    }

    /* form{
        flex-direction: column;
        flex-wrap: nowrap;
    } */
}